---
layout: default
og:
  image: 'priyanka-saggu-bio-photo.jpg'
  type: 'image/jpeg'
  width: '400'
  height: '400'
---

<div id="home">
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.layout != "none" %}
      <li>{% if post.category == "speaking" %}<i class="fa fa-microphone"></i> {% endif %}
        <h1> <a href=" {{ post.url }}">{{ post.title }}</a> </h1>
        <span>{{ post.date | date: "%B %d, %Y" }}</span></br>
        <div>{{ post.excerpt | truncatewords:75}} </div> </li>
        <p><i><a href="{{ post.url }}">Read more…</a></i></p>
        <hr>
      {% endif %}
    {% endfor %}
  </ul>
</div>
