---
layout: default
og:
  image: 'priyanka-saggu-bio-photo.jpg'
  type: 'image/jpeg'
  width: '400'
  height: '400'
---

<div id="home">
  <ul class="posts">
      <img src="https://raw.githubusercontent.com/Priyankasaggu11929/priyankasaggu11929.github.io/master/assets/header.png">
    {% for post in paginator.posts %}
      {% if post.layout != "none" %}
      <li>{% if post.category == "speaking" %}<i class="fa fa-microphone"></i> {% endif %}
        <h1> <a href=" {{ post.url }}">{{ post.title }}</a> </h1>
        <span>{{ post.date | date: "%B %d, %Y" }}</span></br>
        <div>{{ post.excerpt | truncatewords:75}} </div> </li>
        <p><i><a href="{{ post.url }}">Read more…</a></i></p>
        <hr>
      {% endif %}
    {% endfor %}
  </ul>
</div>


<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="webjeda">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
