/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

html {
  font-size: 18px;
}
@media (min-width: 38em) {
  html {
    font-size: 20px;
  }
}

.center {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
}

.right {
  float: right;
  width: 100%;
}

.quote {
  font-size: 1.25rem;
  font-style: italic;
  padding: 2rem;
}

pre {
  overflow: auto;
  white-space: pre;
  word-break: normal;
  word-wrap: normal;
}

code table {
  margin: -1rem;
}

td pre {
  padding: 0rem;
}

.embed-container {
  height: 0;
  margin-bottom: 2rem;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.anchorjs-link {
  color: #313131;
}
.anchorjs-link:hover {
  text-decoration: none;
}
*:hover > .anchorjs-link {
  margin-left: -1.125em !important;
}


/*****************************************************************************/
/*
/* sidebar
/*
/*****************************************************************************/

// .sidebar {
//   font-size: 0.8rem;
// }

// .sidebar-nav-item {
//   letter-spacing: calc(0.08em);
//   text-transform: uppercase;
// }

// .sidebar .social-icons a {
//   color: rgba(255, 255, 255, 0.6);
//   padding-right: 0.5em;
// }

// .sidebar .social-icons a:hover {
//   text-decoration: none;
// }

/* Style and "hide" the sidebar */
.sidebar {
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  left: -28rem;
  width: 28rem;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: 1.8rem;
  color: rgba(255,255,255,.6);
  background-color: #202020;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
@media (min-width: 30em) {
  .sidebar {
    font-size: 1.7rem;
  }
}

/* Sidebar content */
.sidebar a {
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  transition: all 0s ease;
}
.sidebar-item {
  padding: -2rem 1rem;
  font-size: 0.8em;
}
.sidebar-item p:last-child {
  margin-bottom: 0;
}

/* Sidebar nav */
.sidebar-nav {
  position: fixed;
  background-color: #202020;
  height: 100%;
  font-weight: 400;
  font-size: 1.2em;
  overflow: auto;
  /*padding-bottom: 6em;*/
  z-index: 9;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  border-bottom: 1px solid rgba(255,255,255,.1);
}
.sidebar-nav ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}
.sidebar-nav ul li {
  margin-left: 0;
  padding-left: 0;
  display: inline-block;
  width: 100%;
  /* -------------
  Sidebar: icons
  ----------------*/
}
.sidebar-nav ul li a {
  color: rgba(255, 255, 255, 0.9);
  font-size: 0.75em;
  padding: 0.4em 0.5em;
  position: relative;
  display: block;
}
.sidebar-nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  transition: all 0s ease;
}
.sidebar-nav ul li i {
  font-size: 1.8em;
  padding-right: 0.5em;
  width: 19em;
  display: inline;
  vertical-align: middle;
}
.sidebar-nav > ul > li > a:after {
  content: '\f125';
  font-family: ionicons;
  font-size: 0.5em;
  width: 10px;
  color: #fff;
  position: absolute;
  right: 0.75em;
  top: 45%;
}
.sidebar-nav-item {
  display: block;
  padding: 1.5rem 2rem; /* height width */
  border-top: 1px solid rgba(255,255,255,.1);
  font-size: 0.7em;
}
.sidebar-nav-item.active,
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: none;
  background-color: rgba(255,255,255,.1);
  border-color: transparent;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  transition: all 0s ease;
}

@media (min-width: 48em) {
  .sidebar-item {
    padding: -2rem 1rem;
  }
  .sidebar-nav-item {
    padding-left:  4rem;
    padding-right: 4rem;
  }
}

/* Hide the sidebar checkbox that we toggle with `.sidebar-toggle` */
.sidebar-checkbox {
  position: absolute;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/* Style the `label` that we use to target the `.sidebar-checkbox` */
.sidebar-toggle {
  position: absolute;
  top:  .8rem;
  left: 2.5rem;
  display: block;
  padding: .28rem .75rem;
  color: white;
  background-color: var(--background-color);
  border-radius: .28rem;
  cursor: pointer;
}

.sidebar-toggle:before {
  display: inline-block;
  width: 2rem;
  height: 1.5rem;
  content: "";
  background-image: -webkit-linear-gradient(to bottom, var(--sidebar-line-color), var(--sidebar-line-color) 20%, var(--background-color) 20%, var(--background-color) 40%, var(--sidebar-line-color) 40%, var(--sidebar-line-color) 60%, var(--background-color) 60%, var(--background-color) 80%, var(--sidebar-line-color) 80%, var(--sidebar-line-color) 100%);
  background-image:    -moz-linear-gradient(to bottom, var(--sidebar-line-color), var(--sidebar-line-color) 20%, var(--background-color) 20%, var(--background-color) 40%, var(--sidebar-line-color) 40%, var(--sidebar-line-color) 60%, var(--background-color) 60%, var(--background-color) 80%, var(--sidebar-line-color) 80%, var(--sidebar-line-color) 100%);
  background-image:     -ms-linear-gradient(to bottom, var(--sidebar-line-color), var(--sidebar-line-color) 20%, var(--background-color) 20%, var(--background-color) 40%, var(--sidebar-line-color) 40%, var(--sidebar-line-color) 60%, var(--background-color) 60%, var(--background-color) 80%, var(--sidebar-line-color) 80%, var(--sidebar-line-color) 100%);
  background-image:         linear-gradient(to bottom, var(--sidebar-line-color), var(--sidebar-line-color) 20%, var(--background-color) 20%, var(--background-color) 40%, var(--sidebar-line-color) 40%, var(--sidebar-line-color) 60%, var(--background-color) 60%, var(--background-color) 80%, var(--sidebar-line-color) 80%, var(--sidebar-line-color) 100%);
}

.sidebar-toggle:active,
#sidebar-checkbox:focus ~ .sidebar-toggle,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  color: #000;
  background-color: #eeeeee;
}

.sidebar-toggle:active:before,
#sidebar-checkbox:focus ~ .sidebar-toggle:before,
#sidebar-checkbox:checked ~ .sidebar-toggle:before {
  /*background-image: -webkit-linear-gradient(to bottom, #fff, #fff 20%, #555 20%, #555 40%, #fff 40%, #fff 60%, #555 60%, #555 80%, #fff 80%, #fff 100%);*/
  /*background-image:    -moz-linear-gradient(to bottom, #fff, #fff 20%, #555 20%, #555 40%, #fff 40%, #fff 60%, #555 60%, #555 80%, #fff 80%, #fff 100%);*/
  /*background-image:     -ms-linear-gradient(to bottom, #fff, #fff 20%, #555 20%, #555 40%, #fff 40%, #fff 60%, #555 60%, #555 80%, #fff 80%, #fff 100%);*/
  /*background-image:         linear-gradient(to bottom, #fff, #fff 20%, #555 20%, #555 40%, #fff 40%, #fff 60%, #555 60%, #555 80%, #fff 80%, #fff 100%);*/
  background-image: -webkit-linear-gradient(to bottom, #555, #555 20%, #eee 20%, #eee 40%, #555 40%, #555 60%, #eee 60%, #eee 80%, #555 80%, #555 100%);
  background-image:    -moz-linear-gradient(to bottom, #555, #555 20%, #eee 20%, #eee 40%, #555 40%, #555 60%, #eee 60%, #eee 80%, #555 80%, #555 100%);
  background-image:     -ms-linear-gradient(to bottom, #555, #555 20%, #eee 20%, #eee 40%, #555 40%, #555 60%, #eee 60%, #eee 80%, #555 80%, #555 100%);
  background-image:         linear-gradient(to bottom, #555, #555 20%, #eee 20%, #eee 40%, #555 40%, #555 60%, #eee 60%, #eee 80%, #555 80%, #555 100%);
}

@media (min-width: 30.1em) {
  .sidebar-toggle {
    position: fixed;
  }
}

@media print {
  .sidebar-toggle {
    display: none;
  }
}


/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2rem;
  padding: 0;
}

ul.posts li {
  padding: 0.2rem 0;
}

ul.posts li span {
  color: silver;
}


/*****************************************************************************/
/*
/* Pagination
/*
/*****************************************************************************/


.pagination a, .pagination span {
    font-size: 10px;
    padding: 3px 10px;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a {    
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
 }

.pagination {
    text-align: center;
 }


/*****************************************************************************/
/*
/* About
/*
/*****************************************************************************/

/* .page .social-icons {
//   text-align: center;
 } */

.page .social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.page .social-icons a {
  color: #515151;
  padding: 10px;
}

/*****************************************************************************/
/*
/* Tags
/*
/*****************************************************************************/

.tag-box {
  list-style: none;
  margin: 0;
  padding: 4px 0;
  overflow: hidden;
  *zoom: 1;
}

.tag-box:before, .tag-box:after {
  display: table;
  content: "";
  line-height: 0;
}

.tag-box:after {
  clear: both;
}

.tag-box.inline li {
  float: left;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 2.5;
}

.tag-box a {
  padding: 4px 6px;
  margin: 2px;
  background-color: #e6e6e6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}

.tag-box a span {
  vertical-align: super;
  font-size: 10px;
  font-size: 0.625rem;
}

/*****************************************************************************/
/*
/* specialty
/*
/*****************************************************************************/

.grails-travis {
  /*display: table;*/
  vertical-align: middle;
}

.grails-travis img {
  display: inline;
  max-height: 200px;
  vertical-align: middle;
  width: 28%;
}

.grails-travis span {
  font-size: 475%;
  position: relative;
  /*padding-bottom: 40%;*/
  top:10px;
}

.spring-mybatis {
  vertical-align: middle;
}

.spring-mybatis img {
  display: inline;
  max-height: 200px;
  vertical-align: middle;
  width: 28%;
}

.spring-mybatis span {
  font-size: 300%;
  position: relative;
  /*padding-bottom: 40%;*/
  top:5px;
}

img[src$='#collector-coverage'] {
  display: inline;
  margin: 0 1px -3px 0;
}
